@media screen and (min-width: 600px) {
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2')
        format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff')
        format('woff'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: codicon;
    src: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/fonts/codicon.ttf');
  }

  @font-face {
    font-family: SegoeUI;
    src: local('Segoe UI Light'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
        format('woff2'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
        format('woff'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
        format('truetype');
    font-weight: 100;
  }

  @font-face {
    font-family: SegoeUI;
    src: local('Segoe UI Semilight'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
        format('woff2'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
        format('woff'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
        format('truetype');
    font-weight: 200;
  }

  @font-face {
    font-family: SegoeUI;
    src: local('Segoe UI'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
        format('woff2'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
        format('woff'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
        format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: SegoeUI;
    src: local('Segoe UI Semibold'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
        format('woff2'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
        format('woff'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
        format('truetype');
    font-weight: 600;
  }
  @font-face {
    font-family: SegoeUI;
    src: local('Segoe UI Bold'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
        format('woff2'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
        format('woff'),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
        format('truetype');
    font-weight: 700;
  }

  :root {
    --menu-bg-color: #3c3c3c;
    --menu-bg-color-selected: #5c5c5c;
    --menu-color: #dddddd;
    --main-font: 'Segoe UI';
    --main-font-thin: 'Segoe UI Thin';
    --win-font: 'Orbitron';
    --win-close: #ff0000;
    --side-bar-bg-color: #252525;
    --side-bar-bg-selected-color: #383838;
    --sidebar-fixed-bg-color: #333333;
    --sidebar-fixed-size: 3.5rem;
    --sidebar-font: 'codicon';
    --sidebar-size: 17rem;
    --editor-bg-color: #1e1e1e;
    --editor-tab-color: #3a3d41;
    --editor-tab-bg-color: #383b3d50;
    --editor-font: 'JetBrainsMono';
  }

  ::-webkit-scrollbar {
    width: 16px;
    opacity: 0.8;
  }

  ::-webkit-scrollbar-track {
    background: var(--editor-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--editor-bg-color);
    transition: background-color 4s;
    transition-timing-function: ease-in;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-corner {
    background-color: var(--editor-bg-color);
  }

  body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  .wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    background-color: var(--menu-bg-color);
    color: var(--menu-color);
    font-family: var(--main-font);
  }

  .menu > .icon {
    min-width: 24px;
    min-height: 24px;
    margin: 0 0.5rem 0;
    background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/main/code.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu > .menu-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 0 0 0.5rem;
    list-style: none;
  }

  .menu > .menu-list > .menu-item {
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
  }

  .menu > .menu-list > .menu-item:hover {
    background-color: var(--menu-bg-color-selected);
  }

  .menu > .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 0 2rem;
    width: 50%;
  }

  .menu > .buttons {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0;
    padding: 0;
    right: 0;
    background-color: var(--menu-bg-color);
  }

  .buttons > div {
    width: 32px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-family: var(--win-font);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  .buttons > div:hover {
    background-color: var(--menu-bg-color-selected);
  }

  .buttons > .close:hover {
    background-color: var(--win-close);
  }

  main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  main > .sidebar {
    display: flex;
    flex-direction: row;
    width: var(--sidebar-size);
    height: 100%;
  }

  main > .sidebar > .fixedbar {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: var(--sidebar-fixed-size);
    min-width: 3.5rem;
    max-width: 3.5rem;
    height: 100%;
    font-family: var(--sidebar-font);
    font-size: 2rem;
    background-color: var(--sidebar-fixed-bg-color);
  }

  main > .sidebar > .fixedbar > div {
    padding: 0.6rem;
    color: var(--menu-bg-color-selected);
    border-left: 2px solid var(--sidebar-fixed-bg-color);
  }

  main > .sidebar > .fixedbar > div:hover {
    color: var(--menu-color);
    border-left: 2px solid var(--menu-color);
  }

  main > .sidebar > .fixedbar > .explorer::before {
    content: '\eaf0';
  }

  main > .sidebar > .fixedbar > .search::before {
    content: '\ea6d';
  }

  main > .sidebar > .fixedbar > .source-control::before {
    content: '\ea68';
  }

  main > .sidebar > .fixedbar > .debug::before {
    content: '\eb91';
  }

  main > .sidebar > .fixedbar > .remote::before {
    content: '\eb39';
  }

  main > .sidebar > .fixedbar > .extension::before {
    content: '\eae6';
  }

  main > .sidebar > .collapsable {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    width: var(--sidebar-size);
    background-color: var(--side-bar-bg-color);
  }

  main > .sidebar > .collapsable > .title {
    display: inline-block;
    margin: 0.5rem 0 0.5rem 1.5rem;
    font-family: var(--main-font-thin);
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--menu-color);
  }

  main > .sidebar > .collapsable > .content {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  main > .sidebar > .collapsable > .content > .accordeon {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--menu-bg-color-selected);
  }

  main > .sidebar > .collapsable > .content > .accordeon > .editor {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    margin: 0;
    padding: 0;
  }

  main > .sidebar > .collapsable > .content > .accordeon > .editor > span {
    margin: 0.1rem 0 0.1rem 0;
    padding: 0;
    color: var(--menu-color);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > span::before {
    margin: 0 0.25rem 0 0.25rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--sidebar-font);
    content: '\eab4';
  }

  main > .sidebar > .collapsable > .content > .accordeon > .editor > .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1rem 0 0.1rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--menu-color);
    list-style: none;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > .item:hover {
    background-color: var(--side-bar-bg-selected-color);
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > .item::before {
    margin: 0.1rem 0.1rem 0.1rem 0;
    color: var(--side-bar-bg-color);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--sidebar-font);
    content: '\ea76';
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > .item:hover::before {
    color: var(--menu-color);
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > .item
    > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0.1rem 0 0.1rem 0;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > .item
    > span::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0.1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > .item.html
    > span::before {
    background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/material/html.svg');
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .editor
    > .item.css
    > span::before {
    background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/material/css.svg');
  }

  main > .sidebar > .collapsable > .content > .accordeon > .explorer {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    min-height: 26rem;
    margin: 0;
    padding: 0;
  }

  main > .sidebar > .collapsable > .content > .accordeon > .explorer > span {
    margin: 0.1rem 0 0.1rem 0;
    padding: 0;
    color: var(--menu-color);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    > span::before {
    margin: 0 0.25rem 0 0.25rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--sidebar-font);
    content: '\eab4';
  }

  main > .sidebar > .collapsable > .content > .accordeon > .explorer .item {
    display: flex;
    flex-direction: column;
  }

  main > .sidebar > .collapsable > .content > .accordeon > .explorer .item ul {
    margin-left: 1.5rem;
    padding-left: 0;
    border-left: 1px solid var(--side-bar-bg-selected-color);
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    .item
    .desc {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1rem 0 0.1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--menu-color);
    z-index: 99;
  }

  main > .sidebar > .collapsable > .content > .accordeon > .explorer .select {
    position: absolute;
    width: calc(var(--sidebar-size) - var(--sidebar-fixed-size));
    height: 1.5rem;
    left: var(--sidebar-fixed-size);
    z-index: 100;
  }

  main > .sidebar > .collapsable > .content > .accordeon > .explorer .selected {
    visibility: hidden;
    position: absolute;
    width: calc(var(--sidebar-size) - var(--sidebar-fixed-size));
    height: 1.5rem;
    left: var(--sidebar-fixed-size);
    z-index: 98;
    background-color: var(--side-bar-bg-selected-color);
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    .item
    .desc
    > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    .desc
    > div::before {
    margin: 0.1rem 0.1rem 0.1rem 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--sidebar-font);
    content: '\eab4';
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    .item
    .desc
    > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    .item
    .desc
    span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    .item
    .desc
    span::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0.1rem 0.5rem 0.1rem 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .explorer
    .item
    .desc
    span.folder::before {
    background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/material/folder.png');
  }

  main > .sidebar > .collapsable > .content > .accordeon > .outline {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: baseline;
    margin: 0;
    padding: 0;
  }

  main > .sidebar > .collapsable > .content > .accordeon > .outline > span {
    margin: 0.1rem 0 0.1rem 0;
    padding: 0;
    color: var(--menu-color);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .outline
    > span::before {
    margin: 0 0.25rem 0 0.25rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--sidebar-font);
    content: '\eab4';
  }

  main > .sidebar > .collapsable > .content > .accordeon > .timeline {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-items: baseline;
    margin: 0;
    padding: 0;
  }

  main > .sidebar > .collapsable > .content > .accordeon > .timeline > span {
    margin: 0.1rem 0 0.1rem 0;
    padding: 0;
    color: var(--menu-color);
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  main
    > .sidebar
    > .collapsable
    > .content
    > .accordeon
    > .timeline
    > span::before {
    margin: 0 0.25rem 0 0.25rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--sidebar-font);
    content: '\eab4';
  }

  main > .editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--editor-bg-color);
  }

  main > .editor > .logo {
    position: absolute;
    width: 18rem;
    height: 18rem;
    background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/main/code.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3rem;
    filter: saturate(0);
    z-index: 0;
  }

  main > .editor > .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 0;
    z-index: 1;
  }

  main > .editor > .wrapper > .tabbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 100%;
    background-color: var(--side-bar-bg-color);
    font-family: var(--main-font);
  }

  main > .editor > .wrapper > .tabbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  main > .editor > .wrapper > .tabbar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin: 0;
    padding: 0 0.5rem 0 0.5rem;
    list-style: none;
    background-color: var(--editor-tab-bg-color);
    color: var(--menu-bg-color-selected);
  }

  main > .editor > .wrapper > .tabbar ul li.active {
    background-color: var(--editor-bg-color);
    color: var(--menu-color);
  }

  main > .editor > .wrapper > .tabbar ul li::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0.1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
  }

  main > .editor > .wrapper > .tabbar ul li.html::before {
    background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/material/html.svg');
  }

  main > .editor > .wrapper > .tabbar ul li.css::before {
    background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/material/css.svg');
  }

  main > .editor > .wrapper > .tabbar ul li::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0.1rem 0.1rem 0.1rem 0.5rem;
    font-family: var(--sidebar-font);
    content: '';
  }

  main > .editor > .wrapper > .tabbar ul li:hover::after,
  main > .editor > .wrapper > .tabbar ul li.active::after {
    content: '\ea76';
  }

  main > .editor > .wrapper > .breadcrumb {
    position: absolute;
    margin-top: 3rem;
    width: 100%;
    height: 1.5rem;
    background-color: var(--editor-bg-color);
  }

  main > .editor > .wrapper > .breadcrumb.scroll {
    box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.5),
      1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
  }

  main > .editor > .wrapper > .content-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 4.5rem;
    padding: 0;
    width: calc(100% - 5rem);
    height: 100%;
    bottom: 0;
    font-family: var(--editor-font);
    overflow-y: scroll;
    overflow-x: visible;
    overflow-wrap: normal;
  }

  main > .editor > .wrapper > .content-wrapper > .sidebar-lines {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 5rem;
    height: 100%;
    color: var(--sidebar-fixed-bg-color);
    overflow: hidden;
  }

  main > .editor > .wrapper > .content-wrapper > .sidebar-lines > .line {
    width: auto;
    line-height: 1;
    margin: 0 1.5rem 0 1.5rem;
    padding: 0;
    text-align: right;
  }

  main > .editor > .wrapper > .content-wrapper > .content {
    width: calc(100% - var(--sidebar-size) + 1rem);
    height: 100%;
    line-height: 1;
    background-color: var(--editor-bg-color);
    overflow-x: scroll;
    overflow-y: visible;
    overflow-wrap: normal;
  }
}
