@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
  font-family: codicon;
  src: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/fonts/codicon.ttf');
}

:root {
  --menu-bg-color: #3c3c3c;
  --menu-bg-color-selected: #5c5c5c;
  --menu-color: #dddddd;
  --main-font: 'Segoe UI';
  --main-font-thin: 'Segoe UI Thin';
  --win-font: 'Orbitron';
  --win-close: #ff0000;
  --side-bar-bg-color: #252525;
  --side-bar-bg-selected-color: #383838;
  --sidebar-fixed-bg-color: #333333;
  --sidebar-font: 'codicon';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  height: 100vh;
  width: 100vw;
}
.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  background-color: var(--menu-bg-color);
  color: var(--menu-color);
  font-family: var(--main-font);
}

.menu > .icon {
  min-width: 24px;
  min-height: 24px;
  margin: 0 0.5rem 0;
  background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/main/code.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu > .menu-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 0 0.5rem;
  list-style: none;
}

.menu > .menu-list > .menu-item {
  padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}

.menu > .menu-list > .menu-item:hover {
  background-color: var(--menu-bg-color-selected);
}

.menu > .title {
  margin: 0 0 0 2rem;
  width: 50%;
}

.menu > .buttons {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0;
  padding: 0;
  right: 0;
}

.buttons > div {
  width: 32px;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-family: var(--win-font);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.buttons > div:hover {
  background-color: var(--menu-bg-color-selected);
}

.buttons > .close:hover {
  background-color: var(--win-close);
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

main > .sidebar {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
}

main > .sidebar > .fixedbar {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 3.5rem;
  height: 100%;
  font-family: var(--sidebar-font);
  font-size: 2rem;
  background-color: var(--sidebar-fixed-bg-color);
}

main > .sidebar > .fixedbar > div {
  padding: 0.6rem;
  color: var(--menu-bg-color-selected);
  border-left: 2px solid var(--sidebar-fixed-bg-color);
}

main > .sidebar > .fixedbar > div:hover {
  color: var(--menu-color);
  border-left: 2px solid var(--menu-color);
}

main > .sidebar > .fixedbar > .explorer::before {
  content: '\eaf0';
}

main > .sidebar > .fixedbar > .search::before {
  content: '\ea6d';
}

main > .sidebar > .fixedbar > .source-control::before {
  content: '\ea68';
}

main > .sidebar > .fixedbar > .debug::before {
  content: '\eb91';
}

main > .sidebar > .fixedbar > .remote::before {
  content: '\eb39';
}

main > .sidebar > .fixedbar > .extension::before {
  content: '\eae6';
}

main > .sidebar > .collapsable {
  height: 100%;
  width: 100%;
  min-width: 12rem;
  background-color: var(--side-bar-bg-color);
}

main > .sidebar > .collapsable > .title {
  margin: 0.5rem 0 0.5rem 1.5rem;
  font-family: var(--main-font-thin);
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--menu-color);
}

main > .sidebar > .collapsable > .content {
  display: inline;
  width: 100%;
  height: 100%;
}

main > .sidebar > .collapsable > .content > .accordeon {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--menu-bg-color-selected);
}

main > .sidebar > .collapsable > .content > .accordeon > .editor {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-items: baseline;
  margin: 0;
  padding: 0;
}

main > .sidebar > .collapsable > .content > .accordeon > .editor > span {
  margin: 0.1rem 0 0.1rem 0;
  padding: 0;
  color: var(--menu-color);
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

main
  > .sidebar
  > .collapsable
  > .content
  > .accordeon
  > .editor
  > span::before {
  margin: 0 0.25rem 0 0.25rem;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--sidebar-font);
  content: '\eab4';
}

main > .sidebar > .collapsable > .content > .accordeon > .editor > .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.1rem 0 0.1rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--menu-color);
  list-style: none;
}

main > .sidebar > .collapsable > .content > .accordeon > .editor > .item:hover {
  background-color: var(--side-bar-bg-selected-color);
}

main
  > .sidebar
  > .collapsable
  > .content
  > .accordeon
  > .editor
  > .item::before {
  margin: 0.1rem 0.1rem 0.1rem 0;
  color: var(--side-bar-bg-color);
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--sidebar-font);
  content: '\ea76';
}

main
  > .sidebar
  > .collapsable
  > .content
  > .accordeon
  > .editor
  > .item:hover::before {
  color: var(--menu-color);
}

main
  > .sidebar
  > .collapsable
  > .content
  > .accordeon
  > .editor
  > .item
  > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0.1rem 0 0.1rem 0;
}

main
  > .sidebar
  > .collapsable
  > .content
  > .accordeon
  > .editor
  > .item
  > span::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0.1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: ' ';
}

main
  > .sidebar
  > .collapsable
  > .content
  > .accordeon
  > .editor
  > .item.html
  > span::before {
  background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/material/html.svg');
}

main
  > .sidebar
  > .collapsable
  > .content
  > .accordeon
  > .editor
  > .item.css
  > span::before {
  background-image: url('file:///f:/Dev/Pessoal/joze.cc/portfolio/assets/img/icons/material/css.svg');
}
